<% include header %>

<div class="ui segment">
	<h2 class="ui right floated header"><%= talkto %>'s conversation</h2>
	<br>
	<hr>
	<div id="messages">
		<div class="ui comments" id="msgtpl" style="display:none">
			<div class="comment">
				<div class="content">
					<a class="author"><%= message.user %></a>
					<div class="metadata">
						<div class="date"><%= h %> : <%= m %></div>
					</div>
					<hr>
					<div class="text">
						<%= message %>
					</div>
				</div>

			</div>
			<br>
		</div>
	</div>
	<form action="" id="formsg" class="ui form">
		<input type="text" class="message" id="message" maxlength="160" class="text"/>
		<input type="hidden" id="recup" value="<%=talkto %>" class="text"/>
		<input type="submit" class="ui primary submit button send" value="Envoyer" class="submit"/>
	</form>
</div>

<% include footer %>

<script>
	 $('#formsg').submit(function(event) {
	 	event.preventDefault()
		console.log('======================')
		socket.emit('newmsg', {message: $('#message').val(), recup: $('#recup').val() })
		$('#message').val('')
		$('#recup').val('')
		$('#message').focus()
	 })

	 socket.on('newmsg', (function(message){
	 	$('#messages').append('<div class="message">' + ejs.render(msgtpl, message) + '</div>');
		$('#messages').animate({scrollTop : $('#messages').prop('scrollHeight') }, 500);
	 }))
</script>
