<% include header %>

<br>
<br>
<br>
<br>
<br>
<h5 class="ui horizontal header divider" style="color:white">
  <i class="bar chart icon" style="color:white"></i>
  Trier par :
</h5>

<div class="center aligned">
	<div class="field">
		<a href="/home/age">
			<button type="submit" class="ui red button" style="display:block;margin:auto">
				<i class="birthday icon"></i> Age
			</button>
		</a>
	</div>
	<br/>
	<div class="field">
		<a href="/home/tag">
			<button type="submit" class="ui red button" style="display:block;margin:auto">
				<i class="tag icon"></i> Tags
			</button>
		</a>
	</div>
	<br/>
	<div class="field">
		<a href="/home/famous">
			<button type="submit" class="ui red button" style="display:block;margin:auto">
				<i class="star icon"></i> Popularity
			</button>
		</a>
	</div>
	<br/>
	<div class="field">
		<a href="/home">
			<button type="submit" class="ui red button" style="display:block;margin:auto">
				<i class="reply icon"></i> Default
			</button>
		</a>
	</div>
</div>

<hr>

<% if (profile == undefined) { %>
	<div class="ui negative message">
		<i class="close icon"></i>
		<div class="header">
			IL N'Y A PAS D'UTILISATEURS QUI POURRAIENT VOUS INTERRESSER
		</div>
	</div>
<% } else { %>
	<% profile.forEach(function(element) { %>
	<% var pic = element["mainpic"] %>
	<% var name = element["name"] %>
	<% var lname = element["lastname"] %>
	<% var sexe = element["sexe"] %>
	<% var age = element["age"] %>
	<% var descri = element["description"] %>
	<% var login = element["login"] %>
	<% if (skip1 != login && skip2 != login && skip != login) { %>
	<a href="/user/<%= login %>">
		<div class="ui people shape">
		<div class="sides">
			<div class="side active">
				<div class="ui card">
					<div class="image">
						<img src="/images/upload_images/<%= pic %>">
					</div>
					<div class="content">
						<div class="header"><%= name %> <%= lname %></div>
							<div class="meta">
								<%= sexe %>, <%= age %> ans
							</div>
							<div class="description">
								<%= descri %>
							</div>
						</div>
						<div class="extra content">
							<span class="right floated">
							Joined in 2017
							</span>
							<span>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	<% } %>
	<% }) %>
<% } %>


<% include footer %>

<script>
$(".close.icon").click(function(){
  $(this).parent().hide();
});
</script>
