<% include header %>

<div class="ui segment">
	<h2 class="ui right floated header">Vos notifications</h2>
	<br>
	<hr>
	<div class="ui feed">
		<% if (notif) { %>
			<% notif.forEach(function(element) { %>
				<% var login = element["login"] %>
				<% var date = element["sendat"] %>
				<% var type = element["type"] %>
				<% var message = element["msg"] %>
				<% if (type == "message") { %>
				<a href="/message">
					<div class="event">
						<div class="label">
							<i class="comment icon"></i>
						</div>
						<div class="content">
							<div class="summary">
								<%= message %>
								<div class="date"><%= date %></div>
							</div>
						</div>
					</div>
				</a>
				<% } else if (type == "like") { %>
				<a href="/home">
					<div class="event">
						<div class="label">
							<i class="thumbs up icon"></i>
						</div>
						<div class="content">
							<div class="summary">
								<%= message %>
								<div class="date"><%= date %></div>
							</div>
						</div>
					</div>
				</a>
				<% } else if (type == "match") { %>
				<a href="/home">
					<div class="event">
						<div class="label">
							<i class="heart icon"></i>
						</div>
						<div class="content">
							<div class="summary">
								<%= message %>
								<div class="date"><%= date %></div>
							</div>
						</div>
					</div>
				</a>
				<% } else if (type == "views") { %>
				<a href="/notif">
					<div class="event">
						<div class="label">
							<i class="newspaper icon"></i>
						</div>
						<div class="content">
							<div class="summary">
								<%= message %>
								<div class="date"><%= date %></div>
							</div>
						</div>
					</div>
				</a>
				<% } else { %>
				<a href="/notif">
					<div class="event">
						<div class="label">
							<i class="thumbs down icon"></i>
						</div>
						<div class="content">
							<div class="summary">
								<%= message %>
								<div class="date"><%= date %></div>
							</div>
						</div>
					</div>
				</a>
				<% } %>
			<% }) %>
		<% } %>
	</div>
</div>
		
</div>

<% include footer %>
