<% include header %>

<div class="ui segment">
<h2 class="ui right floated header"><%= login2 %>'s profile</h2>
<br>
<hr>
<br>
<div class="ui grid">
  <div class="doubling three column row">
    <div class="column">
		<div class="ui segment">
				<% if (mainpic) { %>
                	<img alt="User Pic" src="../images/upload_images/<%=mainpic%>" class="ui medium circular image">	
				<% } else { %>
					<img class="ui medium circular image" src="../images/profil/steve.jpg">
				<% } %>
				<% if (login2 != mine) { %>
					<% if (locals.liked == "ok") { %>
						<form class="ui form segment" style="color:white;background:none" method="post" action="/user/unlike" >
							<button type="submit" class="ui button">
								<i class="heart icon"></i> Unlike
							</button>
						</form>
					<% } else { %>
						<form class="ui form segment" style="color:white;background:none" method="post" action="/user/like" >
							<button type="submit" class="ui red button">
								<i class="heart icon"></i> Like
							</button>
						</form>
					<% } %>
				<% } %>
		</div>
	</div>
    <div class="column">
		<div class="ui segment">
			<div class="ui teal empty circular label"></div> En Ligne
			<hr class="ui">
				<div class="ui large header" style="color:white"> <%= name + ' ' + lastname %> </div>
			<% if (sexe == "male") { %>
				<p>
					Homme, <%= age %>ans
				</p>
			<% } else if (sexe == "female") { %>
				<p>
					Femme, <%= age %>ans
				</p>
			<% } %>
			<% if (interest == "male") { %>
				<p> Interresse par: &nbsp; Hommes <p>
			<% } else if (interest == "female") { %>
				<p> Interresse par: &nbsp; Femmes <p>
			<% } else if (interest == "both") { %>
				<p> Interresse par: &nbsp; Les deux <p>
			<% } %>
		</div>
	</div>
	<div class="column">
	<div class="ui segment">
		<div class="tag">
			<% if (UserTag) { %>
				<% UserTag.forEach(function(element) { %>
					<% var tag = element["tag"] %>
					<a class="ui label">
						<%= element["tag"] %>
					</a>
				<% }) %>
			<% } %>
		</div>
	</div>
	</div>
	</div>
	<br>
	<hr style="width:100%">
	<div class="ui segment textarea">
	<div class="column">
		<div class="ui form">
			<div class="field">
				<label>description</label>
				<textarea disabled name="descri"><%= descri %></textarea>
            </div>
		</div>
	</div>
	</div>
	</div>
</div>


<% include footer %>
