<% include header %>

<div class="ui segment">
<h2 class="ui right floated header"><%= login2 %>'s profile</h2>
<br>
<hr>
<br>
<div class="ui grid">
  <div class="doubling three column row">
    <div class="column">
		<div class="ui segment">
			<% if (mainpic1) { %>
				<img alt="User Pic" src="../images/upload_images/<%=mainpic1%>" class="ui medium circular image">	
			<% } else { %>
				<img class="ui medium circular image" src="../images/profil/steve.jpg">
			<% } %>
			<% if (login2 != mine) { %>
				<% if (locals.liked == "ok") { %>
					<form class="ui form segment" style="color:white;background:none" method="post" action="/user/unlike" >
						<button type="submit" class="ui button">
							<i class="heart icon"></i> Unlike
						</button>
					</form>
				<% } else { %>
					<form class="ui form segment" style="color:white;background:none" method="post" action="/user/like" >
						<button type="submit" class="ui red button">
							<i class="heart icon"></i> Like
						</button>
					</form>
		
				<% } %>
			<% } %>
		</div>
	</div>
    <div class="column">
		<div class="ui segment">
			<% if (online == 1) { %>
				<div class="ui teal empty circular label"></div> En Ligne
			<% } else { %>
				<div class="ui red empty circular label"></div> Hors Ligne - last log : <%= connected %>
			<% } %>
			<hr class="ui">
				<div class="ui large header" style="color:white"> <%= name + ' ' + lastname %> </div>
			<% if (sexe == "male") { %>
				<p>
					Homme, <%= age %>ans
				</p>
			<% } else if (sexe == "female") { %>
				<p>
					Femme, <%= age %>ans
				</p>
			<% } %>
			<% if (interest == "male") { %>
				<p> Interresse par: &nbsp; Hommes <p>
			<% } else if (interest == "female") { %>
				<p> Interresse par: &nbsp; Femmes <p>
			<% } else if (interest == "both") { %>
				<p> Interresse par: &nbsp; Les deux <p>
			<% } %>
			<div class="ui statistic">
				<div class="value"style="color:gold">
					<i class="trophy icon" style="color:gold"></i> <%= famous %>
				</div>
				<div class="label" style="color:white">
					Popularity
				</div>
			</div>
		</div>
	</div>
	<div class="column">
	<div class="ui segment">
		<div class="tag">
			<% if (UserTag) { %>
				<% UserTag.forEach(function(element) { %>
					<% var tag = element["tag"] %>
					<a class="ui label">
						<%= element["tag"] %>
					</a>
				<% }) %>
			<% } %>
		</div>
	</div>
	</div>
	</div>
	<br>
	<% if (login2 != mine) { %>
	<hr style="width:100%">
	<center style="margin-left:auto;margin-right:auto;display:block;">
		<a href="/chat/<%= login2 %>">
		<div class="ui vertical animated button" style="width:100%" tabindex="0">
			<div class="hidden content">talk</div>
			<div class="visible content">
				 <i class="talk icon"></i>
			</div>
		</div>
		</a>
	<br>
	<br>
		<% if (blocked == "no") { %>
			<a href="/block/<%= login2 %>">
				<button class="negative ui button">Block user</button>
			</a>
		<% } else { %>
			<a href="/unblock/<%= login2 %>">
				<button class="postive ui button">UnBlock user</button>
			</a>
		<% } %>
	<br>
	<br>
		<a href="/fake/<%= login2 %>">
			<button class="negative ui button">Report as fake</button>
		</a>
	
	<% } %>
	<br>
	<br>
	</center>
	<br>
	<br>
	<br>
	<div class="ui four doubling cards">
  <div class="card">
    <div class="image">
		<% if (!pic1) { %>
			<img src="/images/profil/steve.jpg">
		<% } else { %>
			<img src="/images/upload_images/<%=pic1%>">
		<% } %>
    </div>
  </div>
  <div class="card">
    <div class="image">
		<% if (!pic2) { %>
			<img src="/images/profil/steve.jpg">
		<% } else { %>
			<img src="/images/upload_images/<%=pic2%>">
		<% } %>
    </div>
  </div>
  <div class="card">
    <div class="image">
		<% if (!pic3) { %>
			<img src="/images/profil/steve.jpg">
		<% } else { %>
			<img src="/images/upload_images/<%=pic3%>">
		<% } %>
    </div>
  </div>
  <div class="card">
    <div class="image">
		<% if (!pic4) { %>
			<img src="/images/profil/steve.jpg">
		<% } else { %>
			<img src="/images/upload_images/<%=pic4%>">
		<% } %>
    </div>
  </div>
</div>	
	<div class="ui segment textarea">
	<div class="column">
		<div class="ui form">
			<div class="field" style="margin-top:-8%">
				<label>description</label>
				<textarea disabled name="descri"><%= descri %></textarea>
    		</div>
		</div>
	</div>
	</div>
	</div>
</div>

<% include footer %>
